:root {
    --clr-primary: #9356DC;
    --clr-secondary: #FF79DA;
    --clr-tertiary: #99E2D0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    color : black;
    text-decoration: none;
}

header {
    padding: 1.5rem;
    box-shadow: 0px 3px 15px 0px #0000001f;
    position: relative;
    z-index : 1;
    
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #eaeaea;
    font-weight: bold;
    color : #353535;
}

.hero {
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding : 3rem;
    font-size : 1.2rem;
}

h1 {
    margin : 0;
}

.hero p {
    font-weight: 300;
}

.cta {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(175deg, var(--clr-secondary) 0%, var(--clr-primary) 80%);
    color : white;
    filter: drop-shadow(4px 5px 10px #00000044) ;
    margin-bottom : 1rem;
    font-size : 1rem;
}

.cta:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    filter: drop-shadow(4px 5px 5px #0000005b);
}

.how-to {
    padding:  1.5rem;
    padding-bottom : 3rem;
}

.how-to-list {
    list-style-type: none;
    padding: 0;
}

.how-to-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    position: relative;
    font-weight: bold;
}

.how-to-item:hover {
    background-color: rgba(147,86,220,0.125);
}

.list-icon {
    color : grey;
}

.how-to-item:hover .list-icon {
    color : var(--clr-primary);
}

.how-to-item:before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    color : white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -.5rem;
    font-size : 12px;
}

.how-to-first-item:before {
    content: "1";
}

.how-to-second-item:before {
    content: "2";
}

.how-to-third-item:before {
    content: "3";
}

.restaurants {
    background-color: #f7f7f7;
    padding : 1.5rem;
    padding-bottom : 3rem;
}

.restaurants-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap : 1.5rem;
}

.restaurants-card {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    transition: .2s;
    background-color: white;
    width: 100%;
    position: relative;
}

.restaurants-card:hover {
    transform: scale(1.005);
}

.restaurant-label {
    padding : .3rem 1rem;
    background-color: var(--clr-tertiary);
    border-radius: 3px;
    color : #008766;
    position: absolute;
    right : 1rem;
    top : 1rem;
    box-shadow: 0px 4px 15px 0px #00000044;
}

.restaurants-card img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 15rem;
}


.restaurants-card-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 0 1rem;
}

h3 {
    margin-bottom : 0;
}

.restaurants-card-caption p {
    margin-top : 0;
}

.fa-heart {
    font-size: 2rem;
    color : white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-image: linear-gradient(175deg, white 50%, var(--clr-primary) 0%, var(--clr-secondary) 80%);
    background-size: 100% 200%;
    background-position: top;
    -webkit-background-clip: text;
    transition: background-position 1s ease-out;
}

.fa-heart:hover {
    background-position: bottom;
    -webkit-text-fill-color: transparent;
}

footer {
    padding : 1.5rem;
    background-color: #353535;
}

footer img {
    filter: invert(100%);
}

.footer-list {
    padding: 0;
    margin-bottom : 0;
    list-style-type: none;
}

.footer-item a {
    color : white;
    display: inline-flex;
    align-items: center;
    gap : 1.5rem;
}

.footer-item a:hover{
    text-decoration: underline;
}

.footer-icon {
    max-width: .25rem;
}

footer img {
   width: auto;
   height: 20px;
}


/* PAGES RESTAURANTS */

.header-with-arrow {
    display: flex;
    align-items: center;
}

.fa-arrow-left {
    font-size: 1.7rem;
    color : #353535;
}

.fa-arrow-left:hover {
    transform: translateX(-3px);
}

.menu-img {
    max-height: 20rem;
    object-fit: cover;
}

.restaurant-menu {
    padding : 1.5rem;
    background-color: #f7f7f7;
    margin-top : -4rem;
    position: relative;
    z-index : 1;
    border-radius : 20px 20px 0px 0px;
}

.restaurant-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.menu-section-heading {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom : 1rem;
    position: relative;
    padding-bottom : .2rem;
    font-weight: 400;
}

.menu-section-heading:after {
    content: "";
    background-color: var(--clr-tertiary);
    width: 50px;
    height: 4px;
    position: absolute;
    bottom : 0;
    left : 0;
}

.menu-item {
    background-color: white;
    padding : 1rem;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom : 1rem;
    cursor: pointer;
}

.menu-item:hover {
    transform: scale(1.01);
}

.menu-item h2, .menu-item p {
    margin : 0;
}

.menu-item h2 {
    width: 100%;
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
}

.menu-cta-wrapper {
    padding : 1.5rem;
    display: flex;
}

.menu-cta {
    padding : 1rem 2.5rem;
    margin : auto;
}

