footer {
    padding: 1.5rem;
    background-color: #353535;
}

footer img {
    filter: invert(100%);
}

.footer-list {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footer-item a {
    color: white;
    align-items: center;
    transition: .3s;
    position: relative;
}

.footer-item a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform-origin: right;
    transition: transform .3s ease-out;
}

.footer-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.footer-icon {
    min-width: 1.3rem;
    margin-right: .5rem;
}

footer img {
    width: auto;
    height: 20px;
}

@media screen and (min-width: 800px) {
    .footer-content {
        max-width: 1400px;
        margin: auto;
        padding: 0 1.5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between
    }

    .footer-list {
        display: flex;
        gap: 1.5rem;
        margin: 0;
    }
}