.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderOut 2.5s ease-in-out;
    animation-fill-mode: both;
    background: rgba(175, 153, 153, 0.4);

}

@keyframes loaderOut {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.loader-content-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.loader-content-container li {
    animation: loaderBounce 1.5s ease-out infinite;
    animation-fill-mode: both;
}

@keyframes loaderBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.loader-content-container li:nth-child(2) {
    animation-delay: .3s;
}

.loader-content-container li:nth-child(3) {
    animation-delay: .6s;
}