.menu-img {
    max-height: 20rem;
    object-fit: cover;
}

.restaurant-menu {
    padding: 1.2rem;
    background-color: #f7f7f7;
    margin-top: -4rem;
    position: relative;
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
}

.restaurant-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.menu-section {
    flex: 1;
    min-width: 0;
}

.menu-section-heading {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: .2rem;
    font-weight: 400;
}

.menu-section-heading:after {
    content: "";
    background-color: var(--clr-tertiary);
    width: 50px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-list {
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-item {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 1s ease-out;
    animation-fill-mode: both;
}

.item2 {
    animation-delay: .1s;
}

.item3 {
    animation-delay: .2s;
}

.item4 {
    animation-delay: .3s;
}

.item5 {
    animation-delay: .4s;
}

.item6 {
    animation-delay: .5s;
}

.item7 {
    animation-delay: .6s;
}

.item8 {
    animation-delay: .7s;
}

.item9 {
    animation-delay: .8s;
}

.item10 {
    animation-delay: .9s;
}

.menu-item-text-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}

.item-confirm {
    background-color: var(--clr-tertiary);
    height: 6rem;
    width: 6rem;
    margin: -1rem -7rem -1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    transition: .5s ease-in-out;
}

.item-confirm-icon {
    transition: .7s ease-out;
    transform: rotate(-360deg);
}

.menu-item:hover .item-confirm {
    margin-right: -1rem;
}

.menu-item:hover .item-confirm-icon {
    transform: rotate(0);
}

.menu-item h2,
.menu-item p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-item h2 {
    width: 100%;
    font-size: 1.2rem;
}

.item-price {
    font-weight: bold;
    height: 3rem;
    display: flex;
    align-items: flex-end;
    margin: 0 1rem;
}

.menu-cta-wrapper {
    padding: 1.5rem;
    display: flex;
}

.menu-cta {
    padding: 1rem 2.5rem;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .restaurant-menu {
        max-width: 1400px;
        margin: -4rem auto 0;
    }

    .menu-sections-container {
        display: flex;
        gap: 2rem;
    }
}